/*Slideshow css*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.slideshowContainer{
    max-width: 900px;
    position: relative;
    margin:auto;
}
.slideshowContainer img{
    width: 100%;
}
.slide{
    display: none;
}
.prev, .next{
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8)
}
.slideshowText{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numberText{
    color:#f2f2f2;
    font-size:  12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
}
.dotContainer{
    text-align: center;
}
.active, .dot:hover{
    background: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
.numberText, .slideshowText{
    color:black;
}
.slick-dots li button:before{
    font-size: 15px;
}
.slick-prev:before, .slick-next:before{
    color:black;
}
/*Slideshow css end*/

/*Main/Home css*/
body{
    background: white;
    margin: 10px 0;
}
header img{
    width: 500px;
    display: flex;
    align-content:center;
}
.container{
    width: 900px;
    margin: 0 auto;
}
nav ul{
    display:flex;
    justify-content: center;
}
header nav li{
    display: inline-block;
    font-size:17px;
    padding:5px 10px;
    margin: 0 30px;
    background: #128adf;
    border: 5px #128adf solid;
    border-radius: 30px;
}
header nav li:hover{
    background: #ffae2e;
    color: white;
    border: 5px #ffae2e solid;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}
body .contact{
    color: white;
    border: 5px #128adf solid;
    border-radius: 20px;
    background: #128adf;
}
.slide img{
    width: 900px;
    height: 500px;
    object-fit:contain;
}
footer{
    background: #ffae2e;
}
footer img{
    width:40px;
    padding: 5px;
}
.blue{
    color: #128adf;
}
.homeContent{
    display:flex;
    justify-content: space-between;
    padding: 30px 0;
}
.homeAbout{
    display: block;
    width: 430px;
    padding-right:10px;
    border-right: 5px #128adf solid;
}
.homeHelp{
    display: block;
    width: 430px;
}
.homeHelp button{
    font-size: 20px;
}
.homeAbout h2{
    font-size: 35px
}
.homeHelp h3{
    font-size: 25px;
}
.homeContent p{
    font-size: 17px;
}
/*Main/Home css end*/

/*Portfolio css start*/
.portfolioContainer{
    color:rgba(0,0,0,0);
    font-size: 0;
    padding: 0;
    float: left;
    border: 5px #128adf solid;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    transition: color .5s;
}
.portfolioContainer img{
    width:420px;
    height: 420px;
}
.portfolioContainer:hover{
    color:white;
}
.portfolioContainer:hover h3{
    font-size: 20px;
    font-weight: bold;
    padding:0;
    margin: 0;
}
.portfolioContainer:hover p{
    font-size: 17px;
}
.portfolioCaption{
    margin:0 auto;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0px;
    transition: background .5s;
}
.portfolioContainer:hover .portfolioCaption{
    padding: 5px;
    background: rgba(0, 0, 0, 35%);
}
header{
    width: 900px;
    margin: 0 auto;
}
/*Portfolio css end*/

/*Emplyees css start*/

.employeesContainer{
    float:left;
    margin: 10px;
    position: relative;
    width: 420px;
    height: 420px;
    display: flex;
    align-items: center;
}
.employeesContainer img{
    width: 360px;
    height: 360px;
    border: 5px #128adf solid;
    border-radius: 100%;
    margin: 0 auto;
    transition: border-radius 1s, height 1s, width 1s;
}
.employeesContainer:hover img{
    width: 420px;
    height: 420px;
    border-radius: 15px;
}
.employeesCaption{
    position: absolute;
    bottom: 0px;
    padding: 5px;
}
.employeesContainer:hover .employeesCaption{
    color: white;
}
.employeesCaption p{
    margin: 5px;
}
footer{
    margin: 20px 0;
}
/*Emplyees css end*/

/*Contact css start*/
input, textarea{
    color: black;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 14px;
    padding: 3px;
    transition: color .2s, border .2s, background .2s;
}
input:hover, textarea:hover{
    color: white;
    border: 2px #128adf solid;
    background: #128adf;
}
input:focus, textarea:focus{
    color: ;
    border: 3px #128adf solid;
    background: white;
    padding:2px;
}
.date{
    width: 28px;
    text-align: center;
}
.submit {
    font-size:20px;
    color: white;
    border: 2px #128adf solid;
    border-radius: 10px;
    background: #128adf;
    padding: 5px 10px;
    transition: color .1s, background .1s;
}
.submit:hover{
    color:#128adf;
    background: white;
}
/*Contact css end*/

/*modal css start*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.modal-body {
    padding: 2px 16px;
    position: absolute;
    top: 200px;
    width:900px;
    background: white;
    border: #128adf 5px solid;
    border-radius: 20px;
}
.modal-body h1{
    font-size: 60px;
}
.modal-body img{
    width: 420px;
    height: 420px;
    border: 5px #128adf solid;
    border-radius: 15px;
    float: left;
}
.modal-body ul{
    list-style: none;
    width: 455px;
    float: right;
    margin: 0;
    padding: 0;
}
.modal-body li{
    padding: 10px 0px;
    font-size: 25px
}
.modal-body .quote{
    font-weight: normal;
    font-style: italic;
}
.modal-body .source{
    font-size: 20px;
    font-style: italic;
    padding: 10px 0 30px 0;
}
.modal-body p strong{
    font-size: 25px;
}
.modal-body p{
    padding-top: 20px;
    font-size: 23px;
    margin: 0;
    line-height: 1.5;
}
/*Modal css end*/